* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: rgb(45, 68, 128);
    font-family: "Noto Sans Symbols", sans-serif;
}

#card {
    background-color: white;
    width: 288px;
    height: 503px;
    border-radius: 27px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    box-shadow: 5px 20px 50px 0px rgba(0, 0, 0, 0.6);
    padding: 35px 50px;
    position: relative;
}

img {
    width: 10%;
    padding-top: 20px;
}

#forever {
    font-family: "Allan", serif;
}

button {
    margin-left: 576px;
}

.features {
    display: flex;
    padding-bottom: 15px;
}

h1 {
    text-align: center;
}